## String Operations, Comparison and Information

In [1]:
import numpy as np

In [2]:
name = "Sunidhi Singh"
str1 = " Thakur"

In [3]:
np.char.add(name, str1)

array('Sunidhi Singh Thakur', dtype='<U20')

In [4]:
np.char.lower(name)

array('sunidhi singh', dtype='<U13')

In [5]:
np.char.upper(name)

array('SUNIDHI SINGH', dtype='<U13')

In [6]:
np.char.center(str1, 40)

array('                 Thakur                 ', dtype='<U40')

In [7]:
np.char.center(str1, 40, fillchar = "^")

array('^^^^^^^^^^^^^^^^ Thakur^^^^^^^^^^^^^^^^^', dtype='<U40')

In [8]:
np.char.split(name)

array(list(['Sunidhi', 'Singh']), dtype=object)

In [9]:
np.char.splitlines("Sunidhi\nThakur")

array(list(['Sunidhi', 'Thakur']), dtype=object)

In [10]:
str2 = "dmy"
str3 = "dmy"
np.char.join(["-","/"],[str2, str3])

array(['d-m-y', 'd/m/y'], dtype='<U5')

In [11]:
np.char.replace(name,"Sun", "N")

array('Nidhi Singh', dtype='<U11')

In [12]:
np.char.equal(str2,str3)

array(True)

In [13]:
np.char.equal(str2,str1)

array(False)

In [14]:
np.char.count(name, "i")

array(3)

In [15]:
np.char.find(name, "S")

array(0)

In [16]:
np.char.find(name, "p")

array(-1)