# DatetimeIndex

In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv('Startups.csv')
df = df1.dropna()

In [7]:
df

         Date  R&D Spend  Marketing Spend    Profit
0  01-07-2019   165349.0         136897.0  192261.0
1  02-07-2019   133848.0         151377.0  191792.0
2  03-07-2019   153441.0         327468.0  182901.0
3  04-07-2019   144372.0          63338.0  166187.0
4  05-07-2019   142107.0          91391.0  156991.0
5  08-07-2019   131876.0          99814.0  155752.0
6  09-07-2019   134615.0         147198.0  152211.0
7  10-07-2019   130298.0         145530.0  149759.0
8  11-07-2019   120542.0         148718.0  191050.0
9  12-07-2019   123334.0         108679.0  156122.0

In [8]:
df.dtypes

Date                object
R&D Spend          float64
Marketing Spend    float64
Profit             float64
dtype: object

In [9]:
type(df.Date[0])

str

In [13]:
df1 = pd.read_csv('Startups.csv', parse_dates = ['Date'])
df = df1.dropna()
df

        Date  R&D Spend  Marketing Spend    Profit
0 2019-01-07   165349.0         136897.0  192261.0
1 2019-02-07   133848.0         151377.0  191792.0
2 2019-03-07   153441.0         327468.0  182901.0
3 2019-04-07   144372.0          63338.0  166187.0
4 2019-05-07   142107.0          91391.0  156991.0
5 2019-08-07   131876.0          99814.0  155752.0
6 2019-09-07   134615.0         147198.0  152211.0
7 2019-10-07   130298.0         145530.0  149759.0
8 2019-11-07   120542.0         148718.0  191050.0
9 2019-12-07   123334.0         108679.0  156122.0

In [14]:
df.dtypes

Date               datetime64[ns]
R&D Spend                 float64
Marketing Spend           float64
Profit                    float64
dtype: object

In [15]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp