## Pandas Series

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

In [3]:
list = [1,2,3,"Daisy",-5,-7,8.1]

In [4]:
s1 = pd.Series(list)
print(s1)

0        1
1        2
2        3
3    Daisy
4       -5
5       -7
6      8.1
dtype: object

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
type(list)

list

In [7]:
s2 = pd.Series([1,0,-3,"Sun",6.5])

In [8]:
print(s2)

0      1
1      0
2     -3
3    Sun
4    6.5
dtype: object

In [9]:
s3 = pd.Series([], dtype=float)
print(s3)

Series([], dtype: float64)

In [10]:
s4 = pd.Series([1,0,-3,"Sun",6.5], index=['a','b','c','d','e'])
print(s4)

a      1
b      0
c     -3
d    Sun
e    6.5
dtype: object

In [11]:
s4 = pd.Series([1,0,-3,"Sun",6.5], index=[1,2,3,4,5])
print(s4)

1      1
2      0
3     -3
4    Sun
5    6.5
dtype: object

In [12]:
s5 = pd.Series([1,2,3,4],index=['a','b','c','d'], dtype=float, name = 'data')
print(s5)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data, dtype: float64

In [13]:
s6 = pd.Series(0.14)
print(s6)

0    0.14
dtype: float64

In [14]:
s6 = pd.Series(0.14, index=[1,2,3])
print(s6)

1    0.14
2    0.14
3    0.14
dtype: float64

In [15]:
s7 = pd.Series({'a':1, 'b':2})
print(s7)

a    1
b    2
dtype: int64

In [16]:
s1 = pd.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
s1[3]

4

In [18]:
s1[0:3]

0    1
1    2
2    3
dtype: int64

In [19]:
max(s1)

5

In [20]:
min(s1)

1

In [21]:
sum(s1)

15

In [22]:
s1[s1>3]

3    4
4    5
dtype: int64

In [23]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [24]:
s2 = pd.Series([1,2,3,4,5])

In [25]:
s1+s2

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [26]:
s1/s2

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [27]:
s3 = pd.Series([1,2,3])

In [28]:
s1+s3

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64